[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/pawan-yahavi
[access "refs/for/refs/*"]
	read = group user/pawan-yahavi
	push = group user/pawan-yahavi
	label-Code-Review = -2..+2 group user/pawan-yahavi
	label-Verified = -1..+1 group user/pawan-yahavi
	rebase = group user/pawan-yahavi
	removeReviewer = group user/pawan-yahavi
	submit = group user/pawan-yahavi
[access "refs/heads/*"]
	read = group user/pawan-yahavi
	create = group user/pawan-yahavi
	push = +force group user/pawan-yahavi
	pushMerge = group user/pawan-yahavi
[access "refs/tags/*"]
	push = +force group user/pawan-yahavi
	pushTag = group user/pawan-yahavi
	pushSignedTag = group user/pawan-yahavi
